@charset "UTF-8";

body {
  background: #444;
}

.wrapper {
  background: #fff;
  border: 5px solid #243973;
  padding: 30px;
  width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

.logo-img {
  margin-bottom: 20px;
}

h1 {
  width: 600px;
  font-size: 26px;
  border-bottom: 2px solid #ba1111;
  margin: 0 auto;
}

dl {
  width: 1000px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

dl dt {
  float: left;
  padding: 1em;
}

dl dd {
  margin: 0;
  padding: 1em 0 1em 25em;
  border-bottom: 1px solid #ccc;
}

select {
  padding: 5px;
}

label {
  margin-right: 1em;
}

input[type="checkbox"] {
  margin-left: 10px;
}

input[type="email"] {
  width: 50%;
}

input {
  font-size: 1em;
  padding: 5px;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 10px 80px;
  background: #ba1111;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: rgba(232, 19, 19, 0.8);
}

footer {
  text-align: center;
}
